body  {
  background-color: #39A9CB;
}

#container {
  display: flex;
  justify-content: center;
}

#pictures {
  width: 500px;
}

.btn {
  background-color: #ffeda3;
  border: none;
  color: #232323;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

@media all and (max-width: 500px) {

  #pictures {
    height: 50vh;
  }

  .btn {
    padding: 0px;
    font-size: 20px;
  }
}